.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
} 

.blog-card {
  border: 2px solid black;
  width: 100px;
}

.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}